<!doctype html>
<html lang="pt">
<head>
    <!-- metadados-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="site de vendas de produtos comestiveis">
    <meta name="author" content="JOSHUA DA COSTA">
    <meta name="keywords" content="vendas, produtos, animais, porcos, cabritos">
    <!-- link-->
    <link rel="stylesheet" href="../static/css/home.css">

    <title>DORFLEX</title>
</head>
<body>
<conteiner>
    <header>
    <figure>
        <a href="#">
            <img src="../static/image/logob.png" alt="logo do site">
        </a>
    </figure>
    <ul>
      <li><a href="#inicio">INICIO</a></li>
      <li><a href="#sobre">SOBRE</a></li>
      <li><a href="#produtos">PRODUTOS</a></li>
        <ul id="produtos-items">
            <li><a href="#">Porco</a></li>
        </ul>
      <li><a href="#contactos">CONTACTOS</a></li>

    </ul>
  </header>
    <main>
        <section id="inicio">
            <div id="section-bannner-img" class="section-banner">
                <img src="../static/image/imagem1.svg" alt="imagem">
            </div>
            <div id="section-bannner-conteudo" class="section-banner">
                <div id="section-bannner-conteudo-part-1">
                    <h1 id="section-bannner-conteudo-titulo">
                        DOR<span>FLEX</span>
                    </h1>
                    <h3 id="section-bannner-conteudo-titulo">
                        comes <span>porco</span> com um gosto
                    </h3>
                </div>
                <div id="section-bannner-conteudo-part-2">
                    <li id="section-banner-conteudo-img-items">
                        <img class="banner-conteudo-imagens" src="../static/image/imagem1.svg" alt="imagem">
                    </li>
                    <li id="section-banner-conteudo-img-items">
                        <img class="banner-conteudo-imagens" src="../static/image/imagem1.svg" alt="imagem">
                    </li>
                    <li id="section-banner-conteudo-img-items">
                        <img class="banner-conteudo-imagens" src="../static/image/imagem1.svg" alt="imagem">
                    </li>
                    <li id="section-banner-conteudo-img-items">
                        <img class="banner-conteudo-imagens" src="../static/image/imagem1.svg" alt="imagem">
                    </li>
                    <li id="section-banner-conteudo-img-items">
                        <img class="banner-conteudo-imagens" src="../static/image/imagem1.svg" alt="imagem">
                    </li>
            </div>
        </section>
        <section id="sobre">
            <h2>SOBRE</h2>
            <div id="sobre-conteudo">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi aspernatur at atque aut consequatur consequuntur dolorum, eligendi error eum eveniet, facere laudantium maiores molestiae nihil, pariatur quia unde velit?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti dignissimos est in libero mollitia nulla obcaecati quos, reiciendis totam ut vel voluptate. Fuga fugiat minus quo. Cumque, natus, recusandae! Laboriosam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus fugiat omnis totam. Dignissimos dolore eum fugit suscipit. Cumque deserunt doloremque et eveniet exercitationem ipsa, iusto nemo placeat quam rem? Consequatur.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dolores quam! Animi debitis eos fugiat, minus nam nemo, nesciunt pariatur quisquam ratione, sequi totam ut voluptate voluptatem? Nulla, officia provident?</p>
            </div>
        </section>
        <section id="produtos">
              <h2>PRODUTOS</h2>
            <div class="cartoes-items">
                <h3>Animais</h3>
                <div class="cartoes">
                    <img src="../static/image/imagem1.svg" alt="imagem">
                    <div>
                        <h4>PORCO SUINO</h4>
                        <p>Vindo dos Estados unidos da America para a Angola com boa qualidade, com peso de 30k</p>
                    </div>
                </div>
                <div class="cartoes">
                    <img src="../static/image/imagem1.svg" alt="imagem">
                    <div>
                        <h4>titulo</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur officiis porro quos? Alias aliquam eligendi explicabo ipsa ipsum nisi qui voluptatem? Dicta, fugiat id in iste repellendus voluptates voluptatibus?</p>
                    </div>
                </div>
                <div class="cartoes">
                    <img src="../static/image/imagem1.svg" alt="imagem">
                    <div>
                        <h4>titulo</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur officiis porro quos? Alias aliquam eligendi explicabo ipsa ipsum nisi qui voluptatem? Dicta, fugiat id in iste repellendus voluptates voluptatibus?</p>
                    </div>
                </div>
                <div class="cartoes">
                    <img src="../static/image/imagem1.svg" alt="imagem">
                    <div>
                        <h4>titulo</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur officiis porro quos? Alias aliquam eligendi explicabo ipsa ipsum nisi qui voluptatem? Dicta, fugiat id in iste repellendus voluptates voluptatibus?</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</conteiner>
</body>
</html>